body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    overflow-x: hidden;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 100vh 100px 400px 100px;
    grid-gap: 0px;
    overflow: auto;
    height: 100%;
}

.nav-bar{
    grid-column: 1 / -1;
    background-color: transparent;
    width: 100%;
    max-width: 100%;
    position: fixed;
    z-index: 999;
}

.nav-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100%;
    grid-gap: 10px;
    width: 80%;
    margin: auto;
    /* border-bottom: 7px solid rgb(226, 223, 43); */
}

.menu{
    text-align: right;
    margin-top: auto;
    margin-bottom: auto;
}

.logo a{
    color: rgb(42, 24, 83);
    text-decoration: none;
}

.logo a:hover{
    color: rgb(226, 223, 43);
    text-decoration: line-through;
}

.menu-item{
    margin-left: 40px;
    color: rgb(42, 24, 83);
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5rem;
}

.menu-item:hover{
    color: rgb(226, 223, 43);
    text-decoration: line-through;
}

.hero{
    grid-column: 1 / -1;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background: linear-gradient(0deg, rgba(98,0,255,1) 0%, rgba(255,0,216,1) 75%);
}

.hero-container{
    height: 100%;
    text-align: center;
    margin-top: 12%;
}

.hero h1{
    font-size: 72px;
    line-height: 10px;
    color: rgb(42, 24, 83);
}

.none-line{
    line-height: 82px;
    font-size: 72px; 
    color: rgb(42, 24, 83);
    font-weight: 600;
}

.outter{
    line-height: 78px;
    font-size: 72px;
    text-decoration: line-through;
    color:  rgb(226, 223, 43);
}

.inner{
    color: rgb(42, 24, 83);
    font-weight: 600;
}

.eventos{
    grid-column: 1 / -1;
    text-align: center;
    margin-top: 30px;
}

.btn{
    width: 180px;
    height: 70px;
    /* background-color:rgb(42, 24, 83); */
    background-color: transparent;
    border: 8px solid rgb(226, 223, 43);
    color:rgb(226, 223, 43);
    font-size: 22px;
    font-weight: 600;
    text-align: center;
    margin-top: 60px;
}

.btn:hover{
    background-color: rgb(226, 223, 43);
    color: rgb(42, 24, 83);
    cursor: pointer;
}

.hero-img{
    width: 55%;
}

.box{
    text-align: center;
    margin-top: 30px;
}

.box img{
    width: 80%;
    height: 100%;
    box-shadow: 2px 3px 6px #bbb;
}

.box img:hover{
    opacity: 0.5;
    width: 83%;
    height: 105%;
}

.footer{
    margin-top: 50px;
    grid-column: 1 / -1;
    text-align: center;
}


.arrow {
    margin-top:20px;
    text-align: center;
    margin: 8% 0;
}

.arrow img{
    width: 4%;
}

.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.bio{
    border:6px solid rgb(226, 223, 43);
    font-size: 24px;
    margin-left: 10%;
    margin-right: 10%;
    text-align: left;
    padding: 1%;
}

.facebook img{
    width:120px;
}

.gmail img{
    width:100px;
    margin-top:30px;
}